* {
    box-sizing: border-box;
}

#menu {
    display: none;
}

body {
    background-color: #D1FAE5;
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: #064E3B;
    color: white;
    height: 300px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 20px 60px 40px;
}

#footer-library {
    display: flex;
}

footer img {
    margin-right: 10px;
}

#footer-left {
    width: 50%;
}

#footer-right {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

#footer-right p {
    width: 25%;
    font-size: 14px;
}

input {
    border-radius: 8px;
    border: 2px solid #A7F3D0;
    height: 30%;
    width: 100%;
    margin-bottom: 10px;
    height: 55px;
    background-color: #D1FAE5;
    margin-top: 10px;
}

label{
    color: #064E3B;
    font-size: 16px;
}

input::placeholder {
    color: #059669;
    padding-left: 5px;
    font-size: 14px;
}

header {
    background-color: #064E3B;
    width: 100%;
    height: 70px;
    color: white;
    padding: 25px 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-family: sans-serif;
    display: flex;
    gap: 15px;
}

.submenu1 {
    text-align: start;
    padding-left: 50px;
    text-decoration: none;
    color: white;
}

.submenu2 {
    padding-right: 50px;
    text-decoration: none;
    color: white;
}

#section-one {
    padding: 30px 40px 50px 40px;
}

#text-1 {
    font-size: 56px;
    color: #064E3B;
    font-weight: bold;
    margin-bottom: 0px;
}

#text-2 {
    color: #059669;
    font-size: 22px;
    margin-bottom: 50px;
}

.button-buy {
    color: white;
    background-color: #65A30D;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
}

#img-section {
    padding-left: 40px;
    padding-right: 40px;
}

#img-library {
    max-width: 100%;
}

#mision {
    color: #65A30D;
    font-size: 36px;
    margin-bottom: 0px;
}

#mision-text {
    color: #064E3B;
    font-size: 56px;
    font-weight: bold;
    margin-top: 0px;
}

#section-mision {
    padding: 200px 100px 200px 100px;
}

#title-text {
    color: #064E3B;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

#subtitle {
    color: #059669;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
}
#section-variedad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 50px 40px 200px 40px; */
    align-items: center;
}

/* #section-books {
    margin: 50px 40px 200px 40px;
} */

.generos {
    width: 450px;
    display: inline-block;
    margin-bottom: 20px;
}

.generos-text-one {
    color: #064E3B;
    font-size: 18px;
    text-align: center;
}

.generos-text-two {
    color: #059669;
    font-size: 14px;
    text-align: center;
}

.generos-img {
    max-width: 60%;
    display: block;
    margin: auto;
    border-radius: 20px;
}

#generos-subsection-two {
    margin-top: 50px;
}

#section-explorar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 200px 40px 200px 40px;
    align-items: center;
}

#images{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
    padding-right: 40px;
}

.img-explorar {
    width: 171px;
    height: 171px;
    border-radius: 25px;
    margin-bottom: 15px;
}

#button-explorar{
    color: white;
    background-color: #65A30D;
    border: none;
    border-radius: 40px;
    padding: 20px 20px;
}

#explorar-text {
    width: 50%;
}

.explorar-text-subtitle {
    color: #059669;
    font-size: 18px;
    margin-bottom: 50px;
}

.explorar-text-title {
    color: #064E3B;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0px;
}

#contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
    align-items: center;
}

#contact-img {
    width: 50%;
}

#form-contact{
    width: 50%;
    padding-left: 70px;
}

#form-text-subtitle {
    color: #064E3B;
    font-size: 22px;
}

#section-preguntas {
    margin: 200px 40px 200px 40px;
}

#contaner-preguntas {
    display: flex;
    flex-wrap: wrap;
}

.pregunta {
    width: 50%;
    padding-right: 50px;
    color: #064E3B;
    font-size: 18px;
}

hr {
    border-color: #A7F3D0;
}

@media (max-width: 600px) {
    #menu {
        display: inline;
        width: 10%;
    }

    .header-text{
        display: none;
    }

    #images {
        width: 100%;
    }

    #explorar-text {
        width: 100%;
    }

    #form-contact {
        width: 100%;
    }

    #contact-img {
        width: 100%;
    }

    .pregunta {
        width: 100%;
    }

    footer {
        height: 70px;
    }

    #footer-right {
        display: none;
    }

    #footer-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}